<!--<div class="about">
<h1> Meet NearMe </h1>
<p>The best place to discover new places around you.</p>
  <a href="#/"><button type="button" class="btn btn-primary">Start exploring</button></a>
</div>-->
<!--<div class="about">
  <div class="container-fluid">
<h1 style="margin-top:75px;">
      Meet NearMe
    </h1>
    <h3>
      The best place to discover new places around you.
    </h3>
    <a class="btn btn-primary" href="#/" style="margin-top:25px;">
      Start exploring
    </a>
  </div>
</div>-->
<div class="about">
<div class="container">
<h1>Meet NearMe</h1>
<h2>The best place to discover new places around you.</h2>
<a class="btn btn-primary" href="#/">Start exploring</a>
</div>
</div>